<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>191248409079-iequ66of318qompqp4pf9n636i6reu73.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.191248409079-iequ66of318qompqp4pf9n636i6reu73</string>
	<key>API_KEY</key>
	<string>AIzaSyAeorMJjZVNaWVXz9SAwSLHt8m0GeZq8lA</string>
	<key>GCM_SENDER_ID</key>
	<string>191248409079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rfrCookbook</string>
	<key>PROJECT_ID</key>
	<string>rfr-cookbook</string>
	<key>STORAGE_BUCKET</key>
	<string>rfr-cookbook.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:191248409079:ios:6f4a44f8592630567c0ef2</string>
</dict>
</plist>